body{
    font-family:  Arial, sans-serif;
}

header,footer{
    background: #0e0d0d;
    padding: 20px;
    text-align: center;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image-text{
    border: 1px; solid: #ccc;
    padding: 10px;
    display: flex;
    margin-bottom: 10px;
}

.image-text img{
    margin-right: 10px;
}

footer .social-links a{
    margin: 0 10px;
}

.c4{
    font-size: 150%;
    color: rgb(224, 9, 9);
}

.c5{
    font-size: 150%;
    color: rgb(224, 9, 9);
}

.c6{
    color: darkred;
}
